
				body {
						font-family: helvetica neue, sans-serif;
						font-weight: 300;
						color: #777777;
						background-color: #004C97
				}

				h1 {
						font-family: helvetica-neue, sans-serif;
						font-weight: 100;
						font-size: 40px;
						text-align: center;
						vertical-align: center;
				}

				h2 {
						font-family: helvetica-neue, sans-serif;
						font-weight: 500;
						color: #004C97;
						text-align: center;
						background-color:  #43B02A
				}

				p {

				}

				div {
						height: 100vh;
				}


				/* This code includes classes that deal with the structure of the page */


				#pagewrap {

						padding: 4px;
						width: 1200px;
						margin: 15px auto;
				}

				header {
						height: 90px;
						padding: 0 20px;
				}

				#left {
						width: 350px;
						float: left;
						padding: 6px 10px;
				}

				#right {
						width: 350px;
						float: left;
						padding: 6px 12px;
						margin: 0px 7px 7px 7px;
				}

				#bottom {
						width: 412px;
						padding: 6px 12px;
						float: left;
				}

				footer {
						clear: both;
						padding: 0px 200px;
				}

/* media queries so containers are responsive to size of window/device being used */

				@media screen and (max-width: 1250px) {

						#pagewrap {
								width: 95%;
						}

						#left {
								width: 45%;
								padding: 0% 2%;
						}

						#right {
								width: 45%;
								padding: 0% 2%;
								margin: 0px 0px 4px 4px;
								float: right;
						}

						#bottom {
								clear: both;
								padding: 0% 2%;
								width: auto;
								float: none;
						}

						header, footer {
								padding: 0% 1%;
						}
				}

/* For a screen width 800px or smaller */

				@media screen and (max-width: 800px) {

						#left, #bottom {
								width: auto;
								float: none;
						}

						#right {
								width: auto;
								float: none;
								margin-left: 0px;
						}

				}

/* For a screen with 480px or smaller */

				@media screen and (max-width: 480px) {

						header {
								height: auto;
						}

						h1 {
								font-size: 2em;
						}

						#bottom {
								display: none;
						}

				}


/* Additional customized styles for certain segments of the web app */

				#left, #right {
						background: #f8f8f8;
				}

				#bottom {
						background: #f0efef;
				}

				header, #left, #right, #bottom {
						margin-bottom: 5px;
				}

				header, footer{
						color: #ffffff;
				}

				#left, #right, #bottom, footer {
						border: solid 1px #007A33;
				}
