<section id="left">

					<div>
					<h2>SOAP Messages - Chicskin Enchilada</h2>

								 <div style="overflow-x:auto;">
													 <table>
															 <!-- <tr> is table row, <td> is table data inside each part of a row -->
															 <tr>
																	 <td>
																			 <!-- This is where you insert each part of a single SOAP message -->
																			 Panel Data should loop here.

																	 </td>
															 </tr>
													 </table>
								 </div>

					</div>

			</section>

	<!-- ********************************************************

					Section for SOAP message contents
					Should dynamically display colors for status

	********************************************************* -->


<section id="right">

					<div>
					<h2>SOAP Components</h2>

								 <div style="overflow-x:auto;">
													 <table>
															 <!-- <tr> is table row, <td> is table data inside each part of a row -->
															 <tr>
																	 <td>
																			 <!-- This is where you insert each part of a single SOAP message -->
																	 </td>
															 </tr>
													 </table>
								 </div>

					</div>

			</section>

	<!-- ********************************************************

					This is the graph that will display the progress
					towards production

	********************************************************* -->

<aside id="bottom">
	<div>
	<h2>3rd Content Area</h2>
	<p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
	</div>
		</aside>
