<h2 class="title">Toys</h2>
					
	<!-- start pulling from baby array -->
	{{#each tarray}}
		<div class="product productLarge">
			<h3 class="productTitle"> {{title}}</h3>
			<a href="#"><img src="{{image}}"></a>
			<p>{{desc}}</p>
			<span class="productPrice">{{cost}}</span>
		</div>
	{{/each}}
