<!DOCTYPE html>

<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
				<link href="default.css" rel="stylesheet" type="text/css" media="all" />

        <!-- Title: What shows on the websites tab -->
        <title>DevOps Dashboard</title>

		</head>

		<!-- ********************************************************

					 This is where the HTML is building the structure of
					 the web app, and beeing style by the CSS.

	 ********************************************************* -->

	 <body>

			 <div id="pagewrap">

	 <!-- ********************************************************

					 Header Contains Page Title

	 ********************************************************* -->

			 <header>
	 <h1>DevOps Dashboard</h1>
 </header>

	 <!-- ********************************************************

					 Section for SOAP messages

	 ********************************************************* -->

 {{{body}}}

	 <!-- ********************************************************

					 Footer: contains information about the authors

	 ********************************************************* -->

 <footer>
	 <h4>Authors:</h4>
	 <p>Storm McAllister - TEST 10/6/2016 -> 11:51pm, Ricardo Ramirez, Lance Preston, Christina Billings</p>
 </footer>

</div>
	 </body>
</html>
